.container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2em;
}

.container > div{
  padding: 2em 2em;
  /* border-color: black; */
  /* border: 1px black solid; */

}

.Cont1 > div{
  padding: 2em 2em;
  border-color: blue;
  border-radius: 0.5em;
  border: 1px rgb(226, 226, 226) solid;
  margin-top: 1em;
}

.Cont2 >div {
  position: fixed;
  margin-right: 4em;
}
