.container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2em;
}

.container > div{
  padding: 2em 2em;
  /* border-color: black; */
  /* border: 1px black solid; */

}

.Cont1 > div{
  padding: 2em 2em;
  border-color: blue;
  border-radius: 0.5em;
  /* border: 1px rgb(226, 226, 226) solid; */
  margin-top: 1em;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.Cont2 >div {
  position: fixed;
  margin-right: 4em;
}

@media screen and (max-width: 800px) {
  .container{
    grid-template-columns: 2fr;
  }
  .Cont2 >div {
    position: relative;
    margin-right: 0em;
  }
}
